 /* Цвет основного текста #2E2F42 */

 /* Вторичный цвет #434455 */

 /* Белый цвет #FFFFFF */

 /* Цвет кнопки #4D5AE5 */

 /* Цвет текста в футере #E7E9FC */

:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color: #4D5AE5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

 body {
   background-color: #fff;
   color: #434455;

   font-family: Roboto, sans-serif;
 }
 :root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
}
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.logo-two {
    color: var(--primary-text-color);
    font-family: Raleway, cursive;
}

.header-link.current {
color: var(--accent-color);
}

.header-list a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.navigation a {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.navigation a:hover,
.navigation a:focus,
.navigation a:active {
    color: #404BBF
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: #404BBF;
}

.logo-three {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
}

.footer {
    background-color: var(--primary-text-color);
}

.team {
    background-color: #F4F4FD;
}

.hero {
    background-color: var(--primary-text-color);
    color: #FFFFFF;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.feature-list .title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.feature-list .text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.work-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.team-title .title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.team-title .text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.footer .text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.button {
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.button:hover,
.button:focus,
.button:active {
    color: #404BBF 
}

.button-secondary {
    color: var(--accent-color);
    background-color: #E7E9FC;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
    color: #404BBF;
}

.section-list h3 {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.section-list p {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}